<script>

  $.getJSON("test.json", function (data) {
    var items = [];
    $.each(data, function (key, val) {
      add(val.Q, val.A);
    });
  });

  function add(head, content) {
    var ID = "ID_" + makeid(7);
    var addElement = '<div class="accordion-item"> <h2 class="accordion-header" id="headingOne"> <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#' + ID + '" aria-expanded="true"> ' + head + ' </button> </h2> <div id="' + ID + '" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample"> <div class="accordion-body">' + content + ' </div> </div> </div>'
    $('#accordionExample').append(addElement)
  }

  function makeid(length) {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() *
        charactersLength));
    }
    return result;
  }
</script>

<div class="accordion" id="accordionExample">

</div>

</div>
</div>