<script type="text/javascript">
 function loadContent(target){
    $('#content').load(target);
 }

</script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Dhaval Bhatt</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="#" onclick="loadContent('about.html')">About</a>
                    <a class="nav-link" href="#" onclick="loadContent('dotnet.html')" >Dotnet</a>
                    <a class="nav-link" href="#" onclick="loadContent('oops.html')">Oops</a>
                </div>
            </div>
        </div>
    </nav>

